# general
jspm_packages
node_modules
/docs
/typings
/src
/test
/build
/tools
/.idea
/.vscode
/.circleci
/.cache
npm-debug.log
*.tgz

_artifact
.eslintrc
.stylelintrc
.editorconfig
.gitignore
.npmignore
gulpfile.js
jsconfig.json
karma-test-shim.js
karma.conf.js
package-lock.json
rollup.config.js
system.config.js
tslint.json
typings.json
wallaby.js
yarn.lock
CODEOWNERS
/tsconfig.json
/tsconfig.build.json
/tsconfig.test.json